# -*- mode:conf -*-

server.document-root = "xROOT/dev/"
server.port = 8000
server.modules = ( "mod_cgi" )

$HTTP["url"] =~ "^/[a-z0-9]+\.cgi" {
  cgi.assign = ( "" => "" )
}

static-file.exclude-extensions = ( ".cgi" )
index-file.names = ( "index.html" )
